<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hisbaan.sticky">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activities.MoveActivity"
            android:configChanges="orientation"
            android:label="Move to"
            android:parentActivityName=".activities.InsideFolderActivity"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".activities.InsideFolderActivity"
            android:configChanges="orientation"
            android:label="Folder"
            android:parentActivityName=".activities.MainActivity"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".activities.NotePickerActivity"
            android:configChanges="orientation"
            android:label="Pick a Note"
            android:parentActivityName=".activities.FolderPickerActivity"
            android:exported="true"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".activities.FolderPickerActivity"
            android:configChanges="orientation"
            android:label="Pick a Folder"
            android:parentActivityName=".activities.BoardActivity"
            android:exported="true"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".activities.BoardActivity"
            android:configChanges="orientation"
            android:label="Board"
            android:parentActivityName=".activities.MainActivity"
            android:exported="true"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".activities.NamingActivity"
            android:configChanges="orientation"
            android:label="Name"
            android:parentActivityName=".activities.CropActivity"
            android:exported="true"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".activities.TipsActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_tips"
            android:parentActivityName=".activities.MainActivity"
            android:exported="true"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".activities.SettingsActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.MainActivity"
            android:exported="true"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".activities.CropActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_camera"
            android:parentActivityName=".activities.MainActivity"
            android:exported="true"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="fullSensor"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.hisbaan.sticky.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>